.section_title {
    font-family: Arial;
    font-size: 20px;
}

.section_explanation {
    font-family: Arial;
    font-size: 13px;
}

.section_explanation a{
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    color: blue;
}

.section_explanation a:hover{
    text-decoration: underline;
}

.useful_links {
    margin-left: 10px;
}

.useful_links .title {
    font-size: 25px;
    font-family: Arial;
    color: black;
    margin-bottom: 6px;
}

.useful_links a {
    text-decoration: none;
    color: blue;
    font-size: 13px;
    font-family: Arial;
}

.useful_links a:hover {
    text-decoration: underline;
}

.useful_links p {
    text-decoration: none;
    font-size: 13px;
    font-family: Arial;
}

.link_paragraph {
    font-family: Arial;
    font-size: 13px;
    color: black;
    margin-bottom: 8px;
}

.link_paragraph .website_link {
    text-decoration: none;
    color: #329CD2;
    font-size: 13px;
}