
/*----------------------- Table for past papers Starts Here ------------------------------ */
.table {
    width: 100%;
    height: 40%;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*The header of the table*/
.table thead{
    font-family: Arial;
    font-size: 16px;
    color: black;
    font-weight: normal;
    background-color: #E23B2D; 
}

/*All the content within the tables*/
.table tbody tr td {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
} 

/*Every even row the colour will change to a light red*/
.table tbody tr:nth-child(even) {
    background-color: #f0978f;
}
/*----------------------- Table for past papers Ends Here ------------------------------ */

/*----------------------- Buttons Start Here ------------------------------ */
.link_button {
    background-color: #E23B2D;
    font-size: 30px;
    border-radius: 3px;
    transition-duration: 0.4s;
    border: 1px solid #8B37AA;
    border-collapse: collapse;
    margin-bottom: 2px;
    margin-top: 2px;
}

/*The buttons formatting for the link within the button*/
.link_button a {
    text-decoration: none;
    color: black;
}

.link_button:hover {
    background-color: white; 
    color: black;
}

/*The link within the button*/
.link_in_button {
    text-decoration: none;
    font-family: Arial;
    font-size: 30px;
    text-align: center;
}
/*----------------------- Buttons End Here ------------------------------ */



