body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

html,body {
    margin:0;
    padding:0;
}


.feature {
	width: 100%;
	height: 100px;
	background-color: #329CD2;
	text-align: center;
}

.feature .title{
	font-size: 35px;
	font-family: Arial;
	color: white;
	margin-bottom: 1px;
}


.feature .slogan{
	font-size: 19px;
	font-family: Arial;
	color: white;
}

ul {
    list-style-type: none;	/*Gets rid of all bullets*/
    margin: 0;	
    padding: 0;
    overflow: hidden;		/*When the contents over flow the unordered list element, it will be hidden*/
    background-color: #333;
}

li {
    float: left;			/*Moves all the items of the unordered list to the left*/
}

li a {
	font-family: Arial;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

button {
    background-color: #329CD2;
    font-size: 20px;
    border-radius: 3px;
    transition-duration: 0.4s;
    border: 1px solid #329CD2;
    border-collapse: collapse;
    margin-bottom: 2px;
    margin-top: 2px;
}

button:hover {
    background-color: white; 
    color: black;
}

table tbody tr td {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
} 


p {
    font-family: Arial;
    font-size: 13px;
    color: black;
    margin-bottom: 8px;
}

p a {
    text-decoration: none;
    color: #329CD2;
    font-size: 13px;
}

a {
    text-decoration: none;
    font-family: Arial;
    color: black;
    font-size: 20px;
    text-align: center;
}


.information {
    font-size: 25px;
    font-family: Arial;
    color: black;
    margin-bottom: 6px;
}

.gcse_maths_papers_table {
    width: 100%;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.gcse_maths_papers_table .heads{
    font-family: Arial;
    font-size: 16px;
    color: black;
    font-weight: normal;
    background-color: #329CD2; 
}

.gcse_maths_papers_table tr td {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
}


.gcse_maths_papers_table .year {
    text-align: left;
}

.gcse_maths_papers_table tbody tr:nth-child(even) {
    background-color: #abd7ed;
}
